[Unit]
Description=Pi Control

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/home/obito1903/car-pi-control/pi-control

[Install]
WantedBy=multi-user.target
